$error_font: #900;
$error_bg: #faf2f2;
$error_border: #d69999;

$notice_font: #337143;
$notice_bg: #ccffdf;
$notice_border: #9cdfac;
$default_margin: 4px;
.close {text-decoration:none}
.flash-message {
  border-top: 2px solid; border-bottom: 2px solid; margin-bottom:1em;
  border: solid 1px black;
  
  p {
    padding: 10px 2em;
  }
  
  .close {
    float:right; cursor: pointer;
    font-size:80%; padding:3px;
  }
  
  &.error {
    background-color: $error_bg; border-color: $error_border; color: $error_font;
    
    .close { background-color: $error_border; color: $error_bg; }
  }
  &.notice {
    background-color: $notice_bg; border-color: $notice_border; color: $notice_font;
    
    .close { background-color: $notice_border; color: $notice_bg; }
  }
}

.field_with_errors input,
.field_with_errors textarea {
  border-color: $error_border;
  background-color: $error_bg;
}

.errorExplanation {
  border:1px solid; padding:4px 1em; margin-bottom:1em;
  background-color: $error_bg; border-color: $error_border; color: $error_font;
  h2 { font-weight:bold;}
  p { font-weight:100; margin: $default_margin; }
  ul li { margin: $default_margin; }
}