$def_margin: 4px;
$input_padding: 4px;
$form_font: 108%;
@mixin box-shadow($type: inset, $x: 5px, $y: 5px, $radius: 5px, $color: #666){
  box-shadow: $type $x $y $radius $color;
  -moz-box-shadow: $type $x $y $radius $color;
  -webkit-box-shadow: $type $x $y $radius $color;
}

@mixin border-with-radius($radius: 4px, $color: #666, $width: 1px, $style: solid){
  border: $width $style $color;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin safari-only {
  body.tabs.new.safari .fretboard {
    @content;
  }
}

@mixin firefox-only {
  body.tabs.new.firefox .fretboard {
    @content;
  }
}

@mixin ie-only {
  body.tabs.new.ie .fretboard {
    @content;
  }
}

body {
  font: {
    family: Helvetica, Arial, Verdana;
    size: 96%;
  }
}
.tabs.show {
  pre {
    letter-spacing :-2px;
    font-family: courier;
  }
}

/* ====================== */
/*: The 1Kb Grid in Sass: */
/* ====================== */
$cell_width: 24px;
$cell_margin: 0px;
$columns: 30;
$i: 2;
.grid1 { width:$cell_width; }
@while $i < $columns {
  .grid#{$i} { width:$cell_width*$i + $cell_margin*($i - 1); }
  $i: $i+1;
}
.column {
	margin: 0 $cell_margin/2;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: $cell_width*$columns + $cell_margin*$columns;
	margin: $def_margin;
	overflow: hidden;
}
.row .row {
	margin: 0 -$cell_margin/2;
	width: auto;
	display: inline-block;
}

.tabs {
  form {
    input[type='text'],
    input[type='submit'],
    textarea {
      margin: $def_margin;
      padding: $input_padding;
      font-size: $form_font;
    }
    p.instruments { margin: $def_margin; }
    
    .fretboard {
      ul {margin-bottom:1em}
      ul li {
        height:20px;
        background: image-url('string-bg.gif') left 0px repeat-x transparent;
        font-size:88%; width:2em; padding:0; margin:0; font-weight:bold;
        text-align:center; background-color:transparent; padding:1px; 
        border:none;
        
        input:active {border:none}
      }
      ul li.current div {
        @include border-with-radius($color: silver);
        height:14px; padding: 1px;  margin:0 0 0 3px;
        background-color:white; width:$cell_width - 8;
        font-weight:normal;
      }
    }
  }
}

@include firefox-only {
  ul li {
    background-position:left -2px;
  }
}