$def_margin: 4px;
$input_padding: 4px;
$form_font: 108%;

body {
  font: {
      family: Helvetica, Arial, Verdana;
      size: 96%;
    }
}
.tabs.show {
  pre {
    letter-spacing :-2px;
    font-family: courier;
  }
}

form {
  input[type='text'],
  input[type='submit'],
  textarea {
    margin: $def_margin;
    padding: $input_padding;
    font-size: $form_font;
  }
  p.instruments { margin: $def_margin; }
}

/* ================ */
/* = The 1Kb Grid = */     /* 16 columns, 40 pixels each, with 10 pixel gutter */
/* ================ */
$cell_width: 20px;
$cell_margin: 0px;
$columns: 30;
.grid1 { width:$cell_width; }
.grid2 { width:$cell_width*2 + $cell_margin; }
.grid3 { width:$cell_width*3 + $cell_margin*2; }
.grid4 { width:$cell_width*4 + $cell_margin*3; }
.grid5 { width:$cell_width*5 + $cell_margin*4; }
.grid6 { width:$cell_width*6 + $cell_margin*5; }
.grid7 { width:$cell_width*7 + $cell_margin*6; }
.grid8 { width:$cell_width*8 + $cell_margin*7; }
.grid9 { width:$cell_width*9 + $cell_margin*8; }
.grid10 { width:$cell_width*10 + $cell_margin*9; }
.grid11 { width:$cell_width*11 + $cell_margin*10; }
.grid12 { width:$cell_width*12 + $cell_margin*11; }
.grid13 { width:$cell_width*13 + $cell_margin*12; }
.grid14 { width:$cell_width*14 + $cell_margin*13; }
.grid15 { width:$cell_width*15 + $cell_margin*14; }
.grid16 { width:$cell_width*16 + $cell_margin*15; }
.grid17 { width:$cell_width*17 + $cell_margin*16; }
.grid18 { width:$cell_width*18 + $cell_margin*17; }
.grid19 { width:$cell_width*19 + $cell_margin*18; }
.grid20 { width:$cell_width*20 + $cell_margin*19; }
.grid21 { width:$cell_width*21 + $cell_margin*20; }
.grid22 { width:$cell_width*22 + $cell_margin*21; }
.grid23 { width:$cell_width*23 + $cell_margin*22; }
.grid24 { width:$cell_width*24 + $cell_margin*23; }
.grid25 { width:$cell_width*25 + $cell_margin*24; }
.grid26 { width:$cell_width*26 + $cell_margin*25; }
.grid27 { width:$cell_width*27 + $cell_margin*26; }
.grid28 { width:$cell_width*28 + $cell_margin*27; }
.grid29 { width:$cell_width*29 + $cell_margin*28; }
.grid30 { width:$cell_width*30 + $cell_margin*29; }
.column {
	margin: 0 $cell_margin/2;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: $cell_width*$columns + $cell_margin*$columns;
	margin: $def_margin;
	overflow: hidden;
}
.row .row {
	margin: 0 -$cell_margin/2;
	width: auto;
	display: inline-block;
}

.fretboard {
  ul li {
    height:20px;
    background: url('/assets/string-bg.gif') left center repeat-x transparent;
  }
  
  li.current { background: url('/assets/string-bg-current.gif') left center repeat-x transparent; }
}